@mixin linear-gradient-a($direction, $fromColor, $toColor)
  background-image: -o-linear-gradient($direction, $fromColor, $toColor)
  background-image: -moz-linear-gradient($direction, $fromColor, $toColor)
  background-image: -webkit-linear-gradient($direction, $fromColor, $toColor)
  background-image: linear-gradient($direction, $fromColor, $toColor)

@mixin symmetric-gradient-a($direction, $fromColor, $toColor)
  background-image: -o-linear-gradient($direction, $fromColor, $toColor, $fromColor)
  background-image: -moz-linear-gradient($direction, $fromColor, $toColor, $fromColor)
  background-image: -webkit-linear-gradient($direction, $fromColor, $toColor, $fromColor)
  background-image: linear-gradient($direction, $fromColor, $toColor, $fromColor)

@mixin font-size($sizeValue: 1.6)
  font-size: ($sizeValue * 10) + px
  font-size: $sizeValue + rem


@mixin hidden()
  display: none
  position: absolute

@mixin visible()
  display: inherit
