
.page-home
  @include linear-gradient-a(to bottom, $bg-blue-dark, $bg-blue)
  align-items: center
  display: grid
  grid-template-columns: 1fr
  height: 100vh
  justify-content: center
  padding: 0 .625em
  @media only screen and (min-width:$md)
    height: 82.7vh
    grid-template-columns: unquote("[phone-img-start] 51.5%  [phone-img-end info-start] 48.5% [info-end]")
