.home__send
  margin: 1.625em 0 3.625em
  display: flex
  display: -ms-flexbox
  flex: 1
  justify-content: center
  @media only screen and (min-width:$sm)
    margin-top: 2.5em
    text-align: justify

  .home__send__input
    border: none
    border-radius: 8px 0 0 8px
    height: 2.81em
    padding: .685em
    vertical-align: middle
    width: 11.75em
    @media only screen and (min-width:$sm)
      height: 3.43rem
      padding: 1rem 0 1rem 1.5rem
      width: 18.625rem
    &::placeholder
      color: #9fa3a7
      text-align: left
      @media only screen and (min-width:$md)
        @include font-size(20)



  .home__send__button
    background-color: $main-color
    border: none
    color: $white
    border-radius: 0 8px 8px 0
    height: 2.81rem
    @include font-size(14)
    font-weight: 800
    letter-spacing: 2.8px
    padding: 0
    text-transform: uppercase
    vertical-align: middle
    width: 5.75rem
    @media only screen and (min-width:$sm)
      height: 3.43rem
      width: 7.625rem
