.home__info
  .info__title--sm
    font-weight: 300
    line-height: 1.17
    margin-bottom: .56em
    text-align: center
    color: #ffffff
  .info__subtitle--sm
    opacity: 0.7
    line-height: 1.5
    color: rgba(255, 255, 255, 0.87)

  .info__title--lg
    font-weight: 300
    line-height: 1.17
    margin-bottom: .56em
    text-align: center
    color: #ffffff
    @include hidden
  .info__subtitle--lg
    opacity: 0.7
    line-height: 1.5
    color: rgba(255, 255, 255, 0.87)
    @include hidden
